@page "/"

@* Group7_FinalProject

Name: Kristiana Bautista, Robel Chane, Jericko Chavez, Shelyn del Mundo
Date: December 10, 2023

This is a restaurant management system for a pizza place.

This system has a home page, order page, payment page and order queue page.

Home page displays the order history in the system. It also has an add to order button that directs the page to the Order page.

Order Page is the page for creating new orders. The user can select items,specify the quantity then add/delete it to the order. 
After all the items are added on the order, the user can select the Checkout button and be directed to the Payment Page.

Payment Page is the page for settling the bill for a specific order. The amount due and the text field for the payment amount is displayed. 
This page can check if bill is settled once the payment amount matched the amount due.

Order Queue Page is the page where all order that has "Paid" status is displayed. 
This page is for monitoring all the paid orders that must be delivered and it can also update the status of the status from "Paid" to "Completed" *@

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
